body {
    background-color: beige;
    margin: 0px;
    padding: 20px;
}

h1 {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    text-align: center;

}

.boxes {
    display: flex;
    justify-content: left;
    gap: 10px;
    width: 1200px;
    flex-wrap: wrap;

}

p:first-letter {
    font-size: 50px;
    color: rgb(119, 57, 66)
}

.boxes p {
    font-style: oblique;
    color: rgb(75, 20, 41);
    border-style: dashed;
    background-color: pink;
    width: 250px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}