div {
    border-width: 35px;
    padding: 20px;
    -webkit-border-image: url(mundo1.svg);
    border-image: url(mundo1.svg);
    border-style: solid;

}

.stretch {
    border-width: 35px;
    padding: 20px;
    border-style: solid;
    -webkit-border-image: url(round.png) 30 30 stretch;
    border-image: url(round.png) 30 30 stretch;
}

.text2 {
    border-width: 35px;
    padding: 20px;
    border-style: solid;
    -webkit-border-image: url(round.png) 30 30 round;
    border-image: url(round.png) 30 30 round;
}